name: Dart CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:
defaults:
  run:
    shell: bash
permissions:
  contents: read

jobs:
  build:
    name: "Dart CI"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v4
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:stable"
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
      - name: "Dependencies"
        run: dart pub upgrade --no-precompile
      - name: "Dart Analyzer"
        run: dart analyze --fatal-infos .
      - name: "Dart Formatter"
        run: dart format --output=none --set-exit-if-changed .
      - name: "VM Tests"
        run: dart test --platform vm
      - name: "Chrome Tests"
        run: dart test --platform chrome
      - name: "Collect coverage"
        run: |
          dart pub global activate coverage
          dart pub global run coverage:test_with_coverage
      - name: "Upload coverage"
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  check:
    name: "Flutter CI"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: amake/dart-flutter-compat@v1
        with:
          channel: stable
          cache: true